# Core functionality - changes here should be rare!
/src/app.py                   @Bechir-98
/src/backend/database.py      @Bechir-98
/src/backend/routers/auth.py  @Bechir-98

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Bechir-98
